* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Arial", sans-serif;
}

#tsparticles {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}

#tsparticles::after {
  content: "";
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 95%, rgb(0, 0, 0) 100%), linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 95%, rgb(0, 0, 0) 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
}
.main-wrapper .start {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-wrapper .start button {
  backdrop-filter: blur(1px);
  font-size: 80px;
  padding: 30px 40px;
  border-radius: 30px;
  color: white;
  border: 2px solid rgb(99, 99, 99);
  background-color: transparent;
  box-shadow: 0 0 50px 0 rgb(99, 99, 99);
}
.main-wrapper .start button:hover {
  box-shadow: 0 0 50px 5px rgb(99, 99, 99);
}

.save-icon {
  z-index: 2000;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(39, 39, 39);
  position: absolute;
  right: 150px;
  bottom: 0;
  margin-bottom: 20px;
}
.save-icon svg {
  color: rgb(255, 255, 255);
  font-size: 3.125rem;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 50%;
  flex: 2;
}
.canvas-container svg {
  color: rgb(255, 255, 255);
  font-size: 3.125rem;
}
.canvas-container .loading {
  animation: 1200ms ease-in-out 0s infinite spiner;
}
.canvas-container .comp-card {
  padding: 7px;
  border-radius: 5px;
  background-color: rgba(216, 215, 215, 0.88);
  width: 110px;
  box-shadow: 0 0 0 1px black, 0 0 0 2px rgba(216, 215, 215, 0.88), 0 0 2px 2px white;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.canvas-container .comp-card .header-popup {
  font-size: 10px;
  font-weight: 700;
}
.canvas-container .comp-card .specs-popup {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1px;
}
.canvas-container .comp-card .specs-popup > *:last-child:nth-child(odd) {
  grid-column: 1/-1;
}
.canvas-container .comp-card .spec-popup {
  font-size: 7px;
  text-overflow: ellipsis;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 1px;
}
.canvas-container .comp-card .warnings {
  color: rgb(206, 12, 12);
  font-size: 7px;
}

@keyframes spiner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu-wrapper {
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3px);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: -3px 0 3px 0 white, 0 0 5px 0 inset white;
  transition: 500ms;
  max-width: 1000px;
  color: white;
  height: 100vh;
}
.menu-wrapper .menu {
  height: 100vh;
  overflow-y: scroll;
  padding: 0 25px;
  scrollbar-width: none;
}
.menu-wrapper .menu > :last-child {
  margin-bottom: 30px;
}
.menu-wrapper .menu .open-section {
  margin-top: 20px;
}
.menu-wrapper .menu .open-section .compare-menu-toggle {
  font-size: 1.5rem;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 5px;
  right: calc(100% - 45px);
  bottom: 10%;
  transform: rotate(270deg);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  background-color: transparent;
}
.menu-wrapper .menu .open-section .compare-container {
  flex-direction: column;
  position: absolute;
  padding: 15px;
  border: 2px solid;
  border-radius: 20px;
  left: calc(-70% - 42px);
  top: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 70%;
}
.menu-wrapper .menu .open-section .compare-container .compare {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(143, 143, 143, 0.555);
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(53, 53, 53, 0.418);
}
.menu-wrapper .menu .open-section .compare-container .compare .compare-specs-names {
  padding-top: 252px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-wrapper .menu .open-section .compare-container .compare .compare-specs-names p {
  position: relative;
  background-color: rgba(0, 0, 0, 0.267);
  border-bottom: 2px solid rgba(196, 196, 196, 0.74);
  padding: 2px 2px 2px 4px;
}
.menu-wrapper .menu .open-section .compare-container .compare .compare-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.menu-wrapper .menu .open-section .compare-container .compare .compare-item .compare-delete {
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
}
.menu-wrapper .menu .open-section .compare-container .compare .compare-item .compare-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(32, 32, 32, 0.8);
  width: 100%;
  padding: 10px 10px 30px 10px;
}
.menu-wrapper .menu .open-section .compare-container .compare .compare-item .compare-card .compare-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  height: 150px;
  padding-top: 30px;
}
.menu-wrapper .menu .open-section .compare-container .compare .compare-item .compare-card .compare-head img {
  width: auto;
  max-width: 100%;
  max-height: 40px;
  background-color: rgb(233, 233, 233);
  padding: 5px;
  border-radius: 3px;
}
.menu-wrapper .menu .open-section .compare-container .compare .compare-item .compare-card .compare-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.menu-wrapper .menu .open-section .compare-container .compare .compare-item .compare-card .compare-body p {
  border-radius: 3px;
  border: 1px solid rgb(75, 75, 75);
  padding: 2px;
  width: 100%;
  text-align: center;
}
.menu-wrapper .menu .open-section button {
  color: white;
  font-size: 1.25rem;
  border: 1px solid rgba(99, 99, 99, 0.4);
  border-radius: 10px;
  width: 100%;
  padding: 10px 0;
  background: transparent;
}
.menu-wrapper .menu .open-section button:hover {
  text-shadow: 0 0 2px white;
  box-shadow: 0 0 1px white;
}
.menu-wrapper .menu .open-section .clear-btn {
  margin-top: 15px;
  background-color: rgba(31, 31, 31, 0.3);
}
.menu-wrapper .menu .open-section .searchfield {
  display: flex;
  justify-content: center;
}
.menu-wrapper .menu .open-section .searchfield input {
  width: 90%;
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid rgba(99, 99, 99, 0.4);
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
}
.menu-wrapper .menu .open-section .filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 15px;
  margin: 20px 0;
}
.menu-wrapper .menu .open-section .filters .filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgba(99, 99, 99, 0.4);
}
.menu-wrapper .menu .open-section .filters .filter-container h3 {
  border-bottom: 1px solid rgba(99, 99, 99, 0.4);
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
.menu-wrapper .menu .open-section .filters .filter-container .filter-options {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(10, auto);
  gap: 5px;
  column-gap: 10px;
}
.menu-wrapper .menu .side-menu-collapsed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 20px 0;
}
.menu-wrapper .menu::-webkit-scrollbar {
  display: none;
}
.menu-wrapper #hide-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -25px;
  top: 50%;
  background-color: white;
  box-shadow: 0 0 0 1px inset black, -3px 0 3px 0 white;
  border-radius: 25px;
}
.menu-wrapper .menu-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px;
  border: 1px solid rgba(99, 99, 99, 0.4);
  border-radius: 5px;
}
.menu-wrapper .menu-section .menu-section-heading {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 40%;
}
.menu-wrapper .menu-section h3 {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-wrapper .reset {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.specs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(99, 99, 99, 0.4);
  border-radius: 10px;
  padding: 10px 5px;
  margin: 20px 0;
}
.specs-wrapper .specs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(99, 99, 99, 0.4);
  padding: 10px 5px;
}
.specs-wrapper .specs .spec-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.specs-wrapper .specs .spec-header .name {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 70%;
}
.specs-wrapper .specs .spec-header .name img {
  max-width: 80px;
  max-height: 40px;
  background-color: rgb(233, 233, 233);
  padding: 3px 3px;
  margin-left: 10px;
  border-radius: 3px;
}
.specs-wrapper .specs .spec-header .name h3 {
  font-size: 1.5625rem;
}
.specs-wrapper .specs .spec-header .compare-icon {
  display: flex;
}
.specs-wrapper .specs .spec-header button {
  width: 30%;
  background-color: rgb(233, 233, 233);
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.specs-wrapper .specs .specs-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5px;
  column-gap: 3px;
}
.specs-wrapper .specs .specs-list p {
  font-size: 1.125rem;
  border: 1px solid rgb(138, 138, 138);
  padding: 1px;
}
.specs-wrapper .no-results {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}
